@import '@samnbuk/react_db_client.constants.style';
$listItemHeight: $unit * 1.5;
$minDropdownListWidth: $unit * 8;

.selectDropdown {
  position: relative;
  width: 100%;
  min-width: $minDropdownListWidth;
}

.selectDropdown_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  // margin-right: -8px;
  z-index: 11;

  transition: max-height 0.3s ease;
  display: none;
  &.open {
    display: initial;
    min-height: $listItemHeight;
    max-height: $listItemHeight * 8.5;
  }
}

// .selectDropdown_list-unselected {
//   max-height: ($unit * 8);
//   overflow-y: auto;
// }

// .selectDropdown_list-selected {
//   float: right;
//   margin-left: $unit;
// }

.selectDropdown_menu {
  position: absolute;
  width: 100%;
  background: $white;
  // border: 1px $grey-20 solid;
  // box-shadow: 1px 1px 10px 2px rgba($color: #727272, $alpha: 0.2);
  z-index: 10;
  overflow: hidden;
  // min-height: ($unit * 2);
  max-height: 0;
  transition: max-height 0.3s ease;
  // display: none;
  &.open {
    display: initial;
    min-height: $listItemHeight;
    max-height: $listItemHeight * 8.5;
    border: 1px solid $primaryColour-light;
    border-top: none;
    overflow: auto;
    pointer-events: all;
  }
}

.selectDropdown_item {
  width: 100%;
  height: $listItemHeight;
  button {
    height: $listItemHeight;
    pointer-events: all;
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: 1px grey solid;
    min-width: ($unit * 4);
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    overflow: hidden;
    &:focus {
      background-color: $primaryColour-light;
    }
  }
}

.dropdownBtn {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  width: $unit * 1.5;
  text-align: center;
  border: none;
  background: none;
}
