$unit: var(--unit, 1rem);
$white: white;
$grey-20: #dddddd;

.multiSelectDropdown {
  // display: flex;
}

.multiSelectDropdown_list-selected,
.multiSelectDropdown_list-unselected {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: -($unit * 0.5);
  margin-bottom: -($unit * 0.5);

  li {
    margin-right: ($unit * 0.5);
    margin-bottom: ($unit * 0.5);
  }
}

.multiSelectDropdown_list-unselected {
  max-height: ($unit * 8);
  overflow-y: auto;
}

.multiSelectDropdown_list-selected {
  float: right;
  margin-left: $unit;
}

.multiSelectDropdown_menu {
  position: absolute;
  background: $white;
  border: 1px $grey-20 solid;
  padding: $unit;
  z-index: 10;
}


.multiSelectDropdown_item {
  button {
    border-radius: ($unit * 0.2);
    min-width: ($unit * 4);
  }
}
