$unit: 1rem;

.fileUploader_selectBtn {
  padding: ($unit * 0.3);
  cursor: pointer;
  text-align: center;
  * {
    margin-right: $unit;
    &:not(:last-child) {
      margin-right: $unit;
    }
  }
}

.fileUploader_btnsWrap {
  display: flex;
  // justify-content: space-between;
  justify-content: stretch;
  width: 100%;
  margin-bottom: $unit;
}

.fileUploader_btnsWrap > * {
  margin-right: $unit;
  flex-grow: 1;
}
