/* Units */
$core_font-size: 16px;
$unit: 1rem;
$unit-wrap: 1440px;

/* Media Queries
 * These allow you to set the style based ons creen width
 * Always favour a mobile first approach
 */

// Use with  @media (min-width: $mq-full) {...
$mq-tiny: 320px;
$mq-small: 375px;
$mq-medium: 768px;
$mq-large: 1024px;
$mq-full: 1024px;

/* Colours */

// Primary
$primaryColour: rgb(204, 144, 53);
$primaryColour-light: lighten($primaryColour, 10%);
$primaryColour-dark: darken($primaryColour, 10%);

// Warning
$warningColour: #ff1000;
$warningColour-light: #ff584d;
$warningColour-dark: #cc0d00;

// BACKGROUND COLOURS
$white-off: rgb(250, 250, 250);
$background-colour: #fff;
$background-colour-dark: #333; // Not used

// Grayscale
$white: #ffffff;
$grey-5: rgb(245, 245, 245);
$grey-10: #eeeeee;
$grey-20: #dddddd;
$grey-30: #cccccc;
$grey-40: #bbbbbb;
$grey-50: #aaaaaa;
$grey-60: #999999;
$grey-70: #555555;
$grey-80: #333333;
$black: #111111;

/* Borders */
$core_border: 1px solid $grey-40;

/* focus */
$focus_color: $primaryColour-light;
$focus_style: solid;
$focus_outline: $focus_color $focus_style 2px;
$focus_offset: -1px;

/* Border Radius */
$core_border-radius: 2px;

/* Padding */
$defaultPadding: 0.2rem;

/* Shadows */
$defaultBoxShadow: 1px 1px 20px 10px rgba(100, 100, 100, 0.1);
