$unit: 1rem;//var(--unit, 1rem);
$white: white;
$defaultBoxShadow: 1px 1px;
$primaryColour: var(--primary-color, #888);
$warningColour: var(--warning-color, red);
$font-size-1: var(--font-size-1, 1rem);
$grey-20: #dddddd;
$grey-30: #cccccc;

$section-padding: $unit * 0.1;
$section-border: 1px $white dashed;
$heading-height: $unit * 0.7;

.form,
.form_inputs,
.form_section {
  /* FORM SECTION */
  &.formSection,
  .formSection {
    position: relative;
    display: flex;
    overflow: visible;
    flex-grow: 1;

    // Styling
    padding: $section-padding;
    padding-bottom: $section-padding;
    border: $section-border;
    border-radius: ($unit * 0.3);

    margin: 0; // Reset margin
    margin-top: $section-padding;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);

    &.hasHeading {
      padding-top: $section-padding + $heading-height; // Allows for title
      margin-top: $section-padding + $heading-height;
    }
  }
  // Child of vert section
  &.vert > .formSection {
    &:not(:last-child) {
      margin-bottom: $section-padding + $heading-height;
    }
  }
  // Child of horiz section
  &.horiz > .formSection {
    // border: 3px green solid;
    margin-left: $section-padding;
    &:last-child {
      margin-right: $section-padding;
    }
  }
  // vert section
  &.formSection.vert,
  .formSection.vert {
    flex-direction: column;
  }
  // horiz section
  &.formSection.horiz,
  .formSection.horiz {
    align-items: stretch;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* FORM ROW */
  .form_row {
    flex-grow: 1;
    display: flex;
    margin: 0; // Reset margin
  }
  &.vert > .form_row {
    align-items: flex-end; // Ensures inputs align to bottom of label
    &:not(:first-child) {
      margin-top: $section-padding;
    }

    &:not(:last-child) {
      margin-bottom: $section-padding;
    }
  }
  &.horiz > .form_row {
    flex-direction: column;
    margin-right: $section-padding;
    justify-content: flex-start;
    &:not(:first-child) {
      margin-left: $section-padding;
    }
  }

  /* FORM LABEL */
  .form_label {
    text-align: right;
    margin-right: $unit;
    &.required {
      color: $warningColour;
    }

    &.hasChanged {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 2px;
        background: $warningColour;
        height: 100%;
        z-index: 10;
        right: -$unit;
        top: 0;
      }
    }
  }
  &.vert > .form_row > .form_label {
    width: 30%;
    max-width: 200px;
    flex-grow: 1;
  }
  &.horiz > .form_row > .form_label {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
    width: fit-content;
  }

  /* SECTION HEADING */

  .formSection_heading {
    position: absolute;
    margin: 0;
    background: whitesmoke;
    top: -$heading-height;
    left: $unit;
    width: auto;
    border-radius: 3px;
  }
  h1,
  h2,
  h3,
  h4 {
    transition: all 0.2s ease-out;
  }

  /* Uncomment to add heading hover effect
  // &:hover {
  //   h1,
  //   h2,
  //   h3,
  //   h4 {
  //     color: $primaryColour;
  //   }
  //   & > .formSection_heading {
  //     background: white;
  //   }
  // }

  /* INPUTS */

  input[type='text'],
  input[type='number'] {
    min-width: 60%;
    flex-grow: 1;
    outline: 1px $grey-30 solid;
    border: 0;

    // &:focus {
    // }
  }

  select {
    min-width: 60%;
    border: 1px $grey-30 solid;
    outline: none;
  }

  .formFieldFile {
    border: 1px $primaryColour solid;
    background: $grey-20;
  }

  .formFieldInput {
    .vert & {
      flex-grow: 1;
    }
    .horiz & {
      flex-grow: 0;
    }
  }

  textarea {
    width: 100%;
    flex-grow: 1;
  }

  input[type='checkbox'],
  input[type='radio'] {
    margin: 0 ($unit * 0.5);
  }

  .submitBtns {
    display: flex;
    width: 100%;
  }

  .formFieldInput {
    width: 100%;
  }
}
