@import '@samnbuk/react_db_client.constants.style';

.searchFieldWrap {
  display: flex;
  min-height: $core_line-height;
  height: 100%;
  position: relative;
}

.sas_drop_wrap {
  width: 100%;
  position: relative;
  .loadingIcon {
    position: absolute;
    top: 0;
  }
  &.invalid {
    .searchField {
      color: red;
    }
  }
}

.sas_drop_loadingWrap {
  position: absolute;
  top: 0;
  right: 0;

}

.dropdownBtn {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  width: $unit * 1.5;
  text-align: center;
  border: none;
  background: none;
}
